<% if (session.authorized) { %>
    <form method="POST" action="<%= comment && comment.id ? `/entry/${entry.id}/comment/${comment.id}/update` : `/entry/${entry.id}/comment/create` %>">
        <textarea name="content" rows="20" cols="40" placeholder="Enter the comment" required><%= comment ? comment.content : '' %></textarea><br>
        <input type="submit" value="<%= comment ? 'Update the Comment' : 'Create the Comment' %>">
    </form>
<% } %>
