<section class="toolbar">
    <a href="/entries">&lt;</a>
    <% if (session.administrator) { %>
        |
        <a href="/entry/<%= entry.id %>/update">edit</a>
        |
        <form method="post" action="/entry/<%= entry.id %>/delete" style="display:inline">
            <input type="submit" value="x">
        </form>
    <% } %>
</section>
