<form method="POST" action="<%= entry && entry.id ? `/entry/${entry.id}/update` : '/entry/create' %>">
    <input type="text" name="title" placeholder="Enter the title" value="<%= entry ? entry.title : '' %>" required><br>
    <textarea name="content" rows="20" cols="40" placeholder="Enter the blog entry" required><%= entry ? entry.content : '' %></textarea><br>
    <input type="submit" value="<%= entry ? 'Update the Blog Entry' : 'Create the Blog Entry' %>">
</form>
