<section class="toolbar">
    <% if (session.authorized) { %>
        <p><%= session.login %></p>
        <form method="POST" action="/logout" style="display:inline">
            <input type="submit" value="logout">
        </form>
    <% } else { %>
        <a href="/login">login</a>
    <% } %>
</section>
